body {
  position: relative;
  margin: 0;
  padding-bottom: 110px;
  min-height: 100vh;
}

.headline {
    color: #222;
    font-size: 60px;
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.back-button{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #222;
    font-size: 30px;
    font-family: 'Noto Serif JP', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 60px;
}

.back-button.mobile {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 110px;
    font-size: 25px;
    line-height: 40px;
    display: none;
}


.back-button a{
    padding-left: 10px;
    padding-right: 10px;
    color: #222;
}

#last {
    padding-right: 0px;
}
.back-button a:hover {
    color: #FFC8D1;
    text-decoration: none;
}

.line-break { 
    width: 80%;
    margin-top: 32px;
    margin-bottom: 20px;
    background-color: #222
}

.mobile-portfolio {
   display: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}

.subheads {
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
    color: #222;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: left; 

}

.contact{
    color: #222;
    font-size: 30px;
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}


.contact a{
    color: #222;
}
.contact a:hover {
    color: #FFC8D1;
    text-decoration: none;
}

.contact-icon {
    display: block;
}

.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible
}

.carousel-item {
    width: auto;
    height: 650px;
    max-height: 650px !important;
    padding-right: 22%;
    padding-left: 22%;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}


.carousel-inner img{
display:inline-block  !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.karen-ditsch {
    padding-top: 200px;
}

.vote {
    padding-top: 130px;
}

.tall {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 25%;
    padding-left: 25%;
}

@media screen and (max-width: 1155px) {
  .karen-ditsch {
    padding-top: 220px;
  }

  .vote {
    padding-top: 180px;
  } 

  .endorsement {
    padding-top: 50px;
  }

}
@media screen and (max-width: 991px) {
    .subheads.web {
        width: 90%;
    }

    img.web {
        width: 90%;
    }

   .carousel.web {
       display: none;
   }

   .mobile-portfolio.web {
       display: block;
   }

   .back-button.web {
       display: none;
   }

   .back-button.mobile.web {
       display: block;
   }
} 

@media screen and (max-width: 786px) {
    .subheads {
        width: 70%;
    }

    img {
        width: 70%;
    }

    .carousel {
       display: none;
   }

   .mobile-portfolio {
       display: block;
   }
   .back-button {
       display: none;
   }
   .back-button.graphics {
       position: relative;
   }
   .back-button.mobile {
       display: block;
   }

   .back-button.mobile.contact {
       display: block;
   }
}

@media screen and (max-width: 640px) {
    .subheads {
        width: 90%;
    }

    .headline {
        margin-top: 15px;
        font-size: 40px;
    }

    img {
        width: 90%;
    }

    .line-break {
        margin-top: 16px;;
    }

    .subheads {
        font-size: 16px;
    }
}

@media screen and (max-width: 960px) {
.karen-ditsch {
    padding-top: 250px;
}

.vote {
    padding-top: 220px;
} 

.endorsement {
    padding-top: 125px;
}
}
.carousel-item img:hover {
    opacity: 0.5;
}

.carousel-caption {
    font-family: 'Montserrat', sans-serif;
    display: none !important;
    color: #222;
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin: auto;
}
.carousel-img:hover + .carousel-caption {
    display: block !important;
}

.caption-box {
    background-color: rgba(253, 251, 251, 0.90);
}

@media screen and (max-width: 960px) {
.karen-ditsch {
    padding-top: 250px;
}

.vote {
    padding-top: 220px;
} 

.endorsement {
    padding-top: 125px;
}

.tall {
    padding-top: 120px;
}

.house {
    padding-top: 150px;
}
}

.caption-links {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 25px;
    line-height: 40px;
    margin: auto;
}
.caption-links:hover {
    color: #FFC8D1;
    text-decoration: none;
}

.mobile-links {
    text-align: center;
}

.subheads.web.title {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    padding-bottom: 5px;
}

.caption {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #222; 
}

img.web-c {
    margin-bottom: 0;
}

.padding {
    height: 330px;
}

.content {
  margin: 0 auto;
}
